<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


<title>Save</title>

</head>
<body>

	<div class="container">

		<h3>Provider Editor</h3>
		<hr>

		<p class="h4 mb-4">Save</p>

		<div>
			<form action="#" th:action="@{/saveCode}" th:object="${provider}"
				method="POST">

				<input required pattern="\S+" title="This field is required" type="text" th:field="*{code}" class="form-control mb-4 col-4" placeholder="code">
				<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
				<input required pattern="\S+" title="This field is required" type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="name">

				<button type="submit" class="btn btn-info col-2 mb-4 d-block">Save</button>

			</form>
		</div>

		<a th:href="@{/}"
			class="btn btn-outline-primary"> Back </a>


	</div>

</body>

</html>
